/* CSS layout */
h1, h1.normal, h2, h3, h4, h5, h6, blockquote, p, ul, ol, subnav, first, code { color: #000000; font-family: Arial Narrow; font-size: small; z-index : 100}
img {
	border: 0px;}
.font1 {
	color: #336666;
	font-size: xx-large;
	text-decoration: underline;
}
.font2 {
	font-size: large;
	color:#0F344F;
	font-family: "Arial Narrow";
}
body {
	margin: 0;
	padding: 0;
	background-position: center;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #FFFFFF;
	background-position: center;
}
#navwrapper {
	width: 940px;
	margin-left: 10px;
	background-position: center;
}
#top_nav {
	background-position: left center;
	width: 940px;
	height: 100px;
	background-image: url('images/logo.jpg');
	background-repeat: no-repeat;
	
}
#top_nav ul {
	list-style: none;
	margin: 0px;
    padding: 0px;
	text-align: center;
}
#top_nav li {
	display: inline;
    padding: 0px 13px 0px 13px;
}
#top_nav li a:link, #top_nav li a:visited {
	font-size: x-large;
	display: inline;
	text-decoration: none;
	color: #000000;
}
#masthead {
	border-right: 1px solid #FFFFFF;
	background-position: center top;
	height: 56px;
	width: 313px;
	float: left;
	background-image: url('images/nav_blue.jpg');
	background-repeat: no-repeat;
}
#masthead ul {
	list-style: none;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}
#masthead li {
	display: inline;
	padding: 0px;
}
#masthead li a:link, #masthead li a:visited {
	color: #FFFFFF;
	font-size: x-large;
	display: inline;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}
#masthead2 {
	background-position: center top;
	height: 56px;
	width: 312px;
	float: left;
	background-image: url('images/nav_green.jpg');
	background-repeat: no-repeat;
}
#masthead2 ul {
	list-style: none;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}
#masthead2 li {
	display: inline;
	padding: 0px;
}
#masthead2 li a:link, #masthead2 li a:visited {
	color: #FFFFFF;
	font-size: x-large;
	display: inline;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}
#masthead3 {
	border-left: 1px solid #FFFFFF;
	background-position: center top;
	height: 56px;
	width: 313px;
	float: left;
	background-image: url('images/nav_yellow.jpg');
	background-repeat: no-repeat;
}
#masthead3 ul {
	list-style: none;
    margin: 15px 0px 0px 0px;
	padding: 0px;
		text-align: center;
}
#masthead3 li {
	display: inline;
	padding: 0px;
}
#masthead3 li a:link, #masthead3 li a:visited {
	color: #FFFFFF;
	font-size: x-large;
	display: inline;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}
#navigation1 {
	height: 20px;
	width: 940px;
	float: left;
}
#navigation1 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navigation1 li {
	display: inline;
	padding: 0px 40px 0px 35px;
}
#navigation1 li a:link, #navigation1 li a:visited {
	color: #000000;
	display: inline;
	text-decoration: none;
}
#navigation1 li a:hover {
}
#h1 {
	border-right: 1px solid #FFFFFF;
	background-position: center top;
	width: 313px;
	height: 150px;
	float: left;
	background-image: url('images/blue_photo.jpg');
	background-repeat: no-repeat;
}
#h2 {
	background-position: center top;
	width: 313px;
	height: 150px;
	float: right;
	background-image: url('images/yellow_photo.jpg');
	background-repeat: no-repeat;
}
#h3 {
	border-right: 1px solid #FFFFFF;
	background-position: center top;
	width: 312px;
	height: 150px;
	float: left;
	background-image: url('images/green_photo.jpg');
	background-repeat: no-repeat;
}
#navigation2 {
	height: 20px;
	width: 940px;
	float: left;
	
}
#navigation2 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#navigation2 li {
	display: inline;
	padding: 0px 40px 0px 35px;
}
#navigation2 li a:link, #navigation2 li a:visited {
	color: #000000;
	display: inline;
	text-decoration: none;
}
#navigation2 li a:hover {
}
#bodywrapper {
	width: 940px;
	margin-left: 10px;
}
#nav2 {
	width: 155px;
	height: 395px;
	float: left;
	color: #000000;
	background-image: url('images/navigation_background.jpg');
	padding-top: 15px;
}
#nav, #nav ul {
    float:left;
    list-style:none;
    line-height:25px;
    padding:0;
    margin:0;
    width:155px;
    height: 380px;
    }
#nav a {
    display:block;
    color:#FFFFFF;
    text-decoration:none;
    width: 140px;
    padding: 10px 5px 5px 10px;
    background-image: url('images/nav_menu.jpg');
    border-bottom: 1px black solid;
    border-top: 1px gray solid;
    }
#nav li {
    float: left;
    padding: 0px;
    display: block;
    position: static ;
    text-align: left;
    }
#nav ul {
    position:absolute;
    left:-999em;
    height:auto;
    width:140px;
    line-height:1;
    border:0;
    padding: 0px;
    }
#nav li li a {
    padding: 15px 5px 0px 10px;
    width:140px;
    height: 25px;
    font-size: small;
    color:#FFFFFF;
    }
#nav li ul li:hover a {
    color:#CCCCCC;
    background-image: url('images/nav_menu2.jpg');
    }
#nav li:hover a, #nav li.sfhover a {
    color:#CCCCCC; 
    }
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul {
    left: auto;
    margin-left: 155px;
    margin-top: -42px;
    } 
.headlink {
	width: 155px;
} 	
#body1 {
	float: left;
	background-position: right;
	width: 784px;
	height: 125px;
	background-image: url('images/body1_background.jpg');
	background-repeat: no-repeat;
}
#body1 p {
	text-align: justify;
	margin: 20px 0px 0px 20px;
	font-family: Verdana, Geneva, sans-serif;
}
#body2 {
	background-position: center;
	width: 471px;
	height: 285px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('images/body2_background.jpg');
}
#body2 h3 {
	margin: 25px 0px 5px 20px;
	font-weight: normal;
}
#body2 p {
	margin: 10px 20px 10px 20px;
	text-align: justify;
	font-family: Verdana, Geneva, sans-serif;
}
#body2 img {
	margin: 10px 25px 0px 20px;
}
#body3 {
	float: left;
	background-position: right 0px;
	width: 312px;
	height: 285px;
	background-repeat: no-repeat;
	background-image: url('images/body3_background.jpg');
}
#body3 h3 {
	margin: 85px 0px 5px 20px;
	font-weight: normal;
}
#body3 p {
	margin: 0px 0px 10px 20px;
	text-align: center;
}
#body3 img {
		margin: 10px 0px 0px 20px;
}
#body4 {
	background-position: center top;
	width: 315px;
	height: 200px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('images/body4_background.jpg');
}
#body4 p {
	margin: 10px 10px 15px 0px;
	text-align: justify;
}
#body5 {
	background-position: right;
	float: left;
	width: 623px;
	height: 200px;
	background-image: url('images/body5_background2.jpg');
	background-repeat: no-repeat;
}
#body5 p {
	margin: 10px 10px 10px 20px;
	text-align: justify;
}
#body5 p2 {
    color: #FF0000;
    font-size: small;
    margin-left: 20px;
}
#body5 img {
	margin-left: 10px;
}
#nav3 {
	width: 155px;
	height: 395px;
	float: left;
	color: #000000;
	padding-top: 14px;
	border-top: 1px #0F344F solid;
}

#body2_content {
	background-position: right center;
	width: 315px;
	height: 284px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('images/col_seperator3.jpg');
	border-top: 1px #0F344F solid;
}
#body2_content p {
	margin: 10px 20px 10px 20px;
	text-align: justify;
}
#body2_content h3 {
    font-weight: normal;
    margin: 10px 0px 0px 20px;
}
#body2_content img {
	margin: 10px 20px 0px 10px;
	float: right;
}
#body2_content ul {
	text-decoration: none;
    list-style: none;
}
#body2_content li {
	display: block;
	padding: 0px;
}
#body2_content li a:link, #body2_content li a:visited {
	color: #000000;
	font-size: small;
	text-decoration: none;
}
#body3_content {
	background-position: right;
	width: 469px;
	height: 284px;
	float: left;
	background-repeat: no-repeat;
	border-top: 1px #0F344F solid;
}
#body3_content p {
	margin: 10px 0px 10px 20px;
	text-align: justify;
}
#body3_content h3 {
    font-weight: normal;
    margin: 10px 0px 0px 20px;
}
#body3_content img {
	margin: 10px 0px 0px 10px;
	float: right;
}
#body4_content {
	background-position: right center;
	width: 315px;
	height: 200px;
	float: left;
	background-repeat: no-repeat;
	background-image: url('images/col_seperator3.jpg');
}
#body4_content p {
	margin: 8px 20px 10px 20px;
	text-align: justify;
}
#body4_content h3 {
    font-weight: normal;
    margin: 12px 0px 0px 20px;
}
#body5_content {
	width: 469px;
	height: 200px;
	float: left;
	background-repeat: no-repeat;
}
#body5_content p {
	margin: 10px 10px 10px 20px;
	text-align: justify;
}
#body5_content h3 {
    font-weight: normal;
    margin: 10px 0px 0px 20px;
}
#body5_content img {
	margin: 12px 0px 0px 10px;
}
#getting_started {
	float: left;
	height: 100%;
	width: 785px;
	border-top: 1px #0F344F solid;
}
#getting_started p, #getting_started ul, #getting_started ol, #getting_started li, #getting_started h1, #getting_started h2, #getting_started h3, #getting_started h4, #getting_started h5, #getting_started a:link, #getting_started li a:visited{
	margin-left: 20px;
	color: #000000;
	text-align: left;
}
#getting_started img {
	margin: 10px 0px 0px 10px;
	}
#bottom_nav {
	background-position: right top;
	width: 940px;
	height: 10px;
	float: left;
	background-image: url('images/bottom_nav.jpg');
	background-repeat: no-repeat;
}
#footerwrapper {
	width: 940px;
	margin-left: 10px;
}
#footer {
	clear: both;
}
#footer p {
}
#footer li {
	display: inline;
    padding: 0px 13px 0px 0px;
}
#footer li a:link, #footer li a:visited {
	font-size: small;
	display: inline;
	text-decoration: none;
	color: #000000;
}
