.mstheme
{
	nav-banner-image: url(acnvbnr.gif);
	separator-image: url(acnvrule.gif);
	list-image-1: url(acnvbul1.gif);
	list-image-2: url(acnvbul2.gif);
	list-image-3: url(acnvbul3.gif);
	navbutton-horiz-pushed: url(cnvhbp.gif);
	navbutton-horiz-normal: url(cnvhbs.gif);
	navbutton-horiz-hovered: url(cnvhbh.gif);
	navbutton-vert-pushed: url(cnvvbp.gif);
	navbutton-vert-normal: url(cnvvbs.gif);
	navbutton-vert-hovered: url(cnvvbh.gif);
	navbutton-home-normal: url(cnvhomes.gif);
	navbutton-home-hovered: url(cnvhomeh.gif);
	navbutton-home-pushed: url(cnvhomes.gif);
	navbutton-up-normal: url(cnvups.gif);
	navbutton-up-hovered: url(cnvuph.gif);
	navbutton-up-pushed: url(cnvups.gif);
	navbutton-prev-normal: url(cnvprevs.gif);
	navbutton-prev-hovered: url(cnvprevh.gif);
	navbutton-prev-pushed: url(cnvprevs.gif);
	navbutton-next-normal: url(cnvnexts.gif);
	navbutton-next-hovered: url(cnvnexth.gif);
	navbutton-next-pushed: url(cnvnexts.gif);
}
.mstheme-bannertxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 6;
	color: rgb(255,255,255);
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	font-weight: bold;
	color: rgb(255,255,255);
}
.mstheme-vert-navtxt
{
	font-family: Arial, Arial, Helvetica;
	font-size: 2;
	font-weight: bold;
	color: rgb(255,255,255);
}
.mstheme-navtxthome
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,0,153);
}
.mstheme-navtxtup
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,0,153);
}
.mstheme-navtxtprev
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,0,153);
}
.mstheme-navtxtnext
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(51,0,153);
}
UL
{
	list-style-image:url(acnvbul1.gif);
}
UL UL
{
	list-style-image:url(acnvbul2.gif);
}
UL UL UL
{
	list-style-image:url(acnvbul3.gif);
}
a:link
{
	color: rgb(0,102,204);
}
a:visited
{
	color: rgb(0,102,102);
}
a:active
{
	color: rgb(153,102,153);
}
body
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}
h1
{
	color: rgb(51,102,102);
}
h2, marquee
{
	color: rgb(51,102,102);
}
h3
{
	color: rgb(51,102,102);
}
h4
{
	color: rgb(51,102,102);
}
h5
{
	color: rgb(51,102,102);
}
h6
{
	color: rgb(51,102,102);
}
BUTTON 
{
	background-color: rgb(51,102,102);	
	border-color: rgb(102,153,153);
	color:white;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(0,0,0);
}
TEXTAREA
{
	border-color: rgb(51,102,102);
	color:black;
}
FIELDSET
{
	border-color: rgb(51,102,102);
	color:black;
}
LEGEND
{
	color: rgb(51,102,102);
}
SELECT
{
	border-color: rgb(51,102,102);
	color:black;
}
TABLE
{
	table-border-color-light: rgb(102,153,153);
	table-border-color-dark: rgb(51,102,102);
	border-color: rgb(51,102,102);
	color: rgb(0,0,0);
}
CAPTION 
{
	color: rgb(51,102,102);
}
TH
{
	color: rgb(0,0,0);
}
HR
{
	color: rgb(51,102,102);
}
TD
{
	border-color: rgb(51,102,102);
}
.mstheme
{
	navbutton-background-color: rgb(255,255,204);
	top-bar-button: url(cnvglb.gif);
}
.mstheme-topbar-font
{
	font-family: Arial, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,102);
}
body
{
	font-family: Arial, Arial, Helvetica;
	background-image: url(cnvbkgnd.jpg);
}
h1
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 24pt;
}
h2
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
}
h3
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
}
h4
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}
h5
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
}
h6
{
	font-family:  Arial, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
}
BUTTON 
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family:  Arial, Arial, Helvetica;
	font-style: normal; 
}
LABEL, .MSTHEME-LABEL
{
	font-size: 8pt;
	font-family:  Arial, Arial, Helvetica;
	font-style:normal; 
}
TEXTAREA
{
	border-style: solid;
	font-size: 8pt;
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
FIELDSET
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 	
}
LEGEND	
{
	font-size: 8pt;
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
SELECT
{
	border-style: solid;
	font-size: 8pt;
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
TABLE
{
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
CAPTION 
{
	font-size: 14pt;
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
TH
{
	font-family: Arial, Arial, Helvetica;
	font-style: normal; 
}
MARQUEE
{
	font-size: 14pt;
	font-family: Arial, Arial, Helvetica;
}
.ms-main {
   border-right:  0 solid #996699;
}
.ms-bannerframe {
   background-color: #ffffff;   
   border-bottom: 0 solid #000000; 
}
.ms-banner {
   color: #000000;
   font-size:    10pt;
   font-family:  Arial, sans-serif;  
}  
.ms-banner a:link {
   font-family:  Arial, sans-serif;  
   font-size:    10pt;
   color:   #000000;
   font-weight:  normal;
   text-decoration: none;
   }
.ms-banner a:visited {
   font-family: Arial, sans-serif;  
   font-size:    10pt;
   color:        #000000;
   font-weight:  normal;
   text-decoration: none;
   }
.ms-nav td {
   font-family:  Arial, sans-serif; 
   font-size:    9pt;
   font-weight: normal;
   color:   #000000;
}
.ms-nav th  {
   font-size:    9pt;
   font-family:  Arial, sans-serif;
   font-weight:  normal;
   text-align:   left;
   color:        #000000;
}
.ms-navframe {
   border-left: 0 solid #000000;
}
.ms-nav a {
   text-decoration: none;
   font-family:  Arial, sans-serif; 
   font-size:    9pt;
   font-weight: normal;
   color: #0066cc;
}
.ms-nav a:hover {
   text-decoration: underline;
   color:  #996699;
}
.ms-nav a:visited {
   color:  #006666;
}
.ms-verticaldots {
   background-image: url(bluedot.gif);
   background-position: right;
   background-repeat: repeat-y;
}
.ms-viewselect a:link{
   font-size: 9pt;
   font-family:   Arial, sans-serif;
   color: #0066cc;
}
.ms-titlearea { 
   font-family:   Arial, sans-serif;  
   font-size:     9pt;
   color: #000000;
}
.ms-titleareaframe {
   color: #ffffff;
   background-color: #9999cc;
   border-left: 0 solid #000000;
}
.ms-pagetitle {
   color: #000000; 
   font-family: Arial, sans-serif;  
   font-size:  1.25em;
   font-weight: normal;
}
.ms-pagetitle a {
   text-decoration:underline;
   color: #000000;  
}
.ms-pagetitle a:hover {
   text-decoration: underline;
   color: #000000;
}
.ms-announcementtitle {
   font-weight: normal;
}

.ms-formlabel {
   text-align: left;
   font-family:  Arial, sans-serif;  
   font-size:  9pt;
   font-weight: normal;
   color: #000000;
}
.ms-formdescription a {
   color: #0066cc;
   text-decoration: underline;
}
.ms-formbody {
   text-align: left;
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000;
}
.ms-formdescription
{
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000;
}
.ms-radiotext {
   cursor:default;
   text-align: left;
   font-family: Arial, sans-serif;
   font-size: 9pt;
   height: 19px;
}
.ms-searchbox {
   width: 100%;
}
.ms-input {
   font-size:    9pt;
   font-family:  Arial, sans-serif;
}
.ms-long {
   font-size:    9pt;
   font-family:  Arial, sans-serif;
   width:        300px;
}
.ms-wvsel {
   color: #3366cc;
}
.ms-selected {
   background-color: #9999cc;
   color: white;
}
.ms-selected SPAN {
   color: white;
}
.ms-filedialog TD {
   height: 16px;
}
.ms-descriptiontext {
   color: #000000;
   font-family: Arial, sans-serif;  
   font-size: 9pt;
}
.ms-descriptiontext a {
   color: #0066cc;
   font-family: Arial, sans-serif;  
   font-size: 9pt;
}
.ms-toolbar {
   font-family:   Arial, sans-serif;  
   font-size:   9pt;
   text-decoration: none;
   color:      #660033; 
}
.ms-separator {
   color: #006699;
   font-size: 10pt;
}
.ms-authoringcontrols {
   background-color: #cccccc;
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000;
}
.ms-sectionheader {
   color: #339999;
   font-family: Arial, sans-serif;  
   font-size: 10pt;
   font-weight: bold;
}
.ms-sectionline {
   background-color: #336666;
   height:  2px;
}
.ms-propertysheet {
   font-family: Arial, sans-serif;  
   font-size: 9pt;   
}
.ms-propertysheet th {
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000;
   font-weight: normal;
}   
.ms-propertysheet a {
   text-decoration: none;
   color: #0066cc;
}
.ms-propertysheet a:hover {
   text-decoration: underline;
   color: #996699;
}
.ms-propertysheet a:visited {
   text-decoration: none;
   color: #006666; 
}
.ms-propertysheet a:visited:hover {
   text-decoration: underline;
}
.ms-itemheader a {
   font-size: 10pt;
   font-family: Arial, sans-serif;  
   font-weight: normal;
   color: #0066cc;
   text-decoration: none;
}
.ms-itemheader a:hover {
   text-decoration: underline;
   color: #996699;
}
.ms-itemheader a:visited {
   text-decoration: none;
   color: #006666;
}
.ms-itemheader a:visited:hover {
   text-decoration: underline;
}
.ms-discussiontitle {
   font-size:   10pt;
   font-family: Arial, sans-serif;  
   color: #000000;
   font-weight: normal;
}
.ms-vh {
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000;
   text-align: left;
   text-decoration: none;
   font-weight: normal;
}
.ms-vh a {
   color: #0066cc;
   text-decoration: none;
}
.ms-vh a:hover {
   text-decoration: underline;
}
.ms-vb {
   font-family: Arial, sans-serif;  
   font-size: 9pt;
   color: #000000; 
   height: 18px;
   vertical-align: top;
}
.ms-vb a {
   color: #0066cc;
   text-decoration: none;
}
.ms-vb a:hover {
   color: #996699;
   text-decoration: underline;
}
.ms-vb a:visited {
   color: #006666;
   text-decoration: none;
}
.ms-vb a:visited:hover {
   text-decoration: underline;
}
.ms-homepagetitle {
   font-family: Arial, sans-serif;  
   font-size: 10pt;
   color: #339999;
   font-weight: bold;
   text-decoration: none;
}
.ms-homepagetitle:hover {
   text-decoration: underline;
}
.ms-addnew {
   font-weight: normal;
   font-family: Arial, sans-serif;  
   font-size: .72em;
   color: #006699;
   text-decoration: none;
}
.ms-cal {
   border-collapse:collapse;
   table-layout:fixed;
   font-family: Arial, sans-serif;
   cursor:default;
}
.ms-caltop {
   border-top:1px solid #000000;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   vertical-align:top;
   font-size: 10pt;
   width: 14%;
   height:30px;
}
.ms-calhead {
   border:none;
   text-align:center;
   background-color: #339999;
   color: #ffffff;
   font-size: 16pt;
   font-family: Arial, sans-serif;
   padding: 2px;
}
.ms-caldow {
   border-top:1px solid #000000;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   vertical-align:top;
   text-align:center;
   font-weight: bold;
   font-size: 10pt;
   color: #000000;
   height:20px;
}
.ms-calmid {
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   height:20px;
}
.ms-calspacer {
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   height:4px;
}
.ms-calbot {
   border-top:none;
   border-left:1px solid #000000;
   border-right:1px solid #000000;
   border-bottom:1px solid #000000;
   height:2px;
}
.ms-appt a {
   color: #000000;
}
.ms-appt a:hover {
   color: red;
}
.ms-appt {
   border:2px solid #666699;
   text-align:center;
   vertical-align: middle;
   font-size:8pt;
   height:18px;
   overflow:hidden;
   background-color: #ffffcc;
   color: #000000;
}
.ms-caldowdown {
   font-family: Arial, sans-serif;
   font-weight: bold;
   color: #000000;
   text-align: center;
   vertical-align: middle;
}
.ms-caldown {
   font-size: 8pt;
   color: #000000;
   text-align: left;
   vertical-align: top;
}
.ms-datepickeriframe {
   position:absolute;
   display:none;
   background:white;
}
.ms-datepicker {
   font-family: Arial, sans-serif;
   background-color: #ffffff;
   color: #000000;
   border: 2 outset activeborder;
   cursor:default;
}
.ms-dpdow {
   border:none;
   vertical-align:top;
   text-align:center;
   font-weight: bold;
   font-size: 8pt;
   color: #000000;
   border-bottom:1px solid #000000;
}
.ms-dpday {
   border:none;
   font-size: 8pt;
   text-align: center;
}
.ms-dpselectedday {
   border:none;
   background-color:#ffffcc;
   font-size: 8pt;
   text-align: center;
}
.ms-dpnonmonth {
   color: #999999;
   border:none;
   font-size: 8pt;
   text-align: center;
}
.ms-dphead {
   border:none;
   text-align:center;
   font-weight: bold;
   font-size: 8pt;
   background-color: #339999;
   color: #ffffff;
}
.ms-dpfoot {
   text-align:center;
   font-size: 8pt;
   text-align: center;
   font-style: italic;
   border-top:1px solid;
   border-left:none;
   border-bottom:none;
   border-right:none;
   height:24px;
}
IMG.ms-button {
   cursor:hand;
}
